# Uploads extension dist to chrome dev dashboard when a release is made in github.
# Admins can log into https://chrome.google.com/webstore/devconsole to submit for approval.
# Note: `maniftest.json` should already be updated to the desired version before release.

# Prod: https://chrome.google.com/webstore/detail/penumbra-wallet/lkpmkhpnhknhmibgnmmhdhgdilepfghe
# Beta: https://chrome.google.com/webstore/detail/penumbra-wallet/ejpfkiblcablembkdhcofhokccbbppnc
name: Upload extension

on:
  push:
    tags:
      - '*-?v[0-9]+*'
  workflow_call:
  workflow_dispatch:

env:
  DO_NOT_TRACK: 1

jobs:
  publish:
    environment: ext-publish
    name: Upload extension dist
    runs-on: buildjet-16vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v4
      - id: built
        uses: buildjet/cache@v4
        with:
          path: .turbo
          key: ${{ hashFiles('pnpm-lock.yaml') }}-${{ github.ref }}-${{ github.sha }}-publish
          restore-keys: ${{ hashFiles('pnpm-lock.yaml') }}-${{ github.ref }}-${{ github.sha }}-test
      - uses: pnpm/action-setup@v4
      - uses: buildjet/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: NODE_ENV=production pnpm turbo build --cache-dir=.turbo

      # Outputs beta.zip and prod.zip
      - name: Zip extension versions
        run: pnpm dlx tsx apps/extension/src/utils/zip-extension.ts

      - name: Upload beta version
        uses: penumbra-zone/chrome-extension-upload@v1
        with:
          file-path: beta.zip
          extension-id: ejpfkiblcablembkdhcofhokccbbppnc
          client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          publish: false

      - name: Upload prod version
        uses: penumbra-zone/chrome-extension-upload@v1
        with:
          file-path: prod.zip
          extension-id: lkpmkhpnhknhmibgnmmhdhgdilepfghe
          client-id: ${{ secrets.GOOGLE_CLIENT_ID }}
          client-secret: ${{ secrets.GOOGLE_CLIENT_SECRET }}
          refresh-token: ${{ secrets.GOOGLE_REFRESH_TOKEN }}
          publish: false
